/* Estilos para as divs */
.container {
    display: flex;
    height: 100vh;
}

.illustration {
    flex: 1.5;
    position: relative;
    overflow: hidden;
}

.illustration img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-image: linear-gradient(rgb(31, 27, 39), rgb(44, 44, 165), rgb(183, 0, 255));
}

.logo {
    height: 300px;
    margin-bottom: 100px;
}

.button-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

button {
    background-image: radial-gradient(rgb(43, 43, 26), rgb(43, 43, 26));
    color: #fff;
    width: 100%;
    height: 50px;
    font-size: 30px;
    border-block: groove 4px rgb(190, 153, 93);
    cursor: pointer;
    transition: ease 0.5s;
}

.active:hover {
    background-image: radial-gradient(rgb(252, 214, 0), rgb(165, 117, 44));
    color: #000;
}

.inactive {
    opacity: 0.4;
}