@media (max-width: 1280px){
    header h1 {
        font-size: 3rem;
    }

    .character-select .character-list{
        max-width: 300px;
    }

    .character-select .character-list .character {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 850px) {
    .versus {
        height: 150px;
    }
}
@media (max-width: 767px){

    body::before {
        background-image: url('/src/imagens/Mobile-bg.jpg');
        background-size: cover;
        background-repeat: repeat;
    }

    .versus {
        height: 100px;
    }

    main{
        padding: 0 5px;
        justify-content: start;
    }

    header h1 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .character-select .character-large img {
        height: 250px;
    }
}

@media (max-width: 500px){
    body::before {
        background-image: url('/src/imagens/Mobile-bg.jpg');
        background-size: cover;
        background-repeat: repeat;
    }

    header h1{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .character-select .character-large img {
        height: 200px;
    }
}