body {
    background: var(--secondary-color);
}

body::before {
    content: '';
    background-image: url("../imagens/Background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-button{
    cursor: pointer;
}

.back-button img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
}

header {
    display: flex;
    justify-content: center;
}




header h1 {
    color: var(--title-color);
    font-size: 3rem;
    text-shadow: 5px 0 5px black;
    font-family: 'demon', Courier, monospace;
}

.character-select {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'demon', Courier, monospace;
}

.character-select .character-large {
    text-align: center;
    width: 30%;
    height: 70vh;
    position: relative;

}

.character-large.character-player-1 {
    animation: fadeinMove 1s;
}

.character-large.character-player-2 {
    animation: fadeinMove2 1s;
}

.character-select .character-large img {
    position: absolute;
    height: 400px;
    left: 50%;
    top: 50%;
    animation: float 5s ease-in-out infinite;
    z-index: -1;
}

section {
    position: absolute;
    left: 30%;
    top: 30%;
    animation: fadein 2s ease;
}

.versus {
    position: absolute;
    height: 300px;
    animation: scale 2s ease-in-out infinite;
    z-index: 1;

}

.start-button {
    margin-top: 400px;
    background-image: radial-gradient(rgb(43, 43, 26), rgb(43, 43, 26));
    color: #fff;
    width: 300px;
    height: 50px;
    font-size: 30px;
    border: groove 4px rgb(190, 153, 93);
    cursor: pointer;
    transition: ease 0.5s;
}

.start-button:hover {
    background-image: radial-gradient(rgb(252, 214, 0), rgb(165, 117, 44));
    color: #000;
}


.character-select .character-large .name h2 {
    color: var(--title-color);
    position: absolute;
    bottom: -2rem;
    width: 100%;
    font-size: 2rem;
    text-shadow: 5px 0 5px black;
}

.character-select .character-list {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    overflow-y: auto;
    max-width: 300px;
    height: 500px;
    justify-content: start;
    align-items: start;
    gap: 12px;
    position: absolute;
    padding: 10px;
    background-color: #00000046;
}

.character-select .character-list.player-1 {
    transform: scaleX(-1);
}
.character-select .character-list.player-1 img {
    transform: scaleX(-1);
}

.character-select .character-list::-webkit-scrollbar {
    width: 15px;
}


.character-select .character-list.player-1::-webkit-scrollbar-thumb {
    background-color: #000ecc;
    border-radius: 5px;
}

.character-select .character-list.player-2::-webkit-scrollbar-thumb {
    background-color: #df0000;
    border-radius: 5px;
}

.character-select .character-list::-webkit-scrollbar-track {
    background-color: #000000;
}


.character-select .character-list.player-1 {
    left: 20px;
}

.character-select .character-list .character {
    border: solid 2px white;
    background-color: white;
    width: 100%;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.character-select .character-list.player-2 {
    right: 20px;
}

.character-select .character-list .player-2 .character {
    border: solid 2px white;
    background-color: white;
    width: 100%;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.character-select .character-list .character img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: saturate(0%);
}

.character-select .character-list .character img:hover {
    filter: saturate(100%);
    transition: 0.3s;
}

.character-select .character-list .character.player-1-selected img {
    filter: saturate(100%);
}

.player-1-selected {
    border: 2px solid rgb(204, 203, 255);
    animation: c-glowing-blue .5s ease-in-out infinite;
    animation-direction: alternate;
}

.player-1 .character:hover {
    transform: scale(1.07);
    animation: c-glowing-blue .5s ease-in-out infinite;
    animation-direction: alternate;
    z-index: 3;
}

.character-select .character-list.player-2-selected {
    border: 2px solid rgb(204, 203, 255);
    animation: c-glowing-red .5s ease-in-out infinite;
    animation-direction: alternate;
}

.character-select .character-list.player-2-selected .character :hover {
    transform: scale(1.07);
    animation: c-glowing-red .5s ease-in-out infinite;
    animation-direction: alternate;
    z-index: 3;
}

.player-2-selected {
    border: 2px solid rgb(255, 214, 214);
    animation: c-glowing-red .5s ease-in-out infinite;
    animation-direction: alternate;
}

.player-2 .character:hover {
    transform: scale(1.07);
    animation: c-glowing-red .5s ease-in-out infinite;
    animation-direction: alternate;
    z-index: 3;
}

.character-select .character-list .player-2-selected img {
    filter: saturate(100%);
}

.loading-content{
    display: none;
}